#cute{
    color: rgb(219, 67, 75);
   
}
#walk{
    background-color:rgb(113, 172, 211);
    color: white;
    font-size:20px;
    width: 250px;
    height: 20px;

    padding:10px;
    margin:10px;

}